@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Forum&family=Montserrat&family=Open+Sans:wght@300&family=Poppins:wght@300;400&family=Rubik&family=Syne+Mono&family=Varela+Round&display=swap');

:root{
    --primary-color: #FBAB7E;
    --border-radius: 5px;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Arimo', sans-serif;
    display: flex;
    background-color: var(--primary-color);
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 h1{
    color: whitesmoke;
    padding: 20px;
    background-color: black;
    border-radius: 2em;
    cursor: pointer;
    text-transform: uppercase;
    width: 275px;
    margin: 20px auto 10px;
    user-select: none;
 }
 h1:hover{
     background-color: rgba(0, 0, 0, 0.7)
 }